.layout {
    width: 60%;
    display: flex;
    flex-direction: column;
    margin:auto;
    align-items:center;
}

.paper {
    margin-top: 20%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
}

.avatar {
    margin: 20px;
    background: floralwhite;
    height: 100px !important;
    width: 100px !important;
}

.form {
    width: 100%;
    margin-top: 30px;
}

.submit {
    margin-top: 20px;
}

@media(max-width:414px){
    .App-header{
        display: none;
    }

    .layout{
        margin-top: 35%;
    }
}